# Node
node_modules/
.next/

# Python
__pycache__/
.pytest_cache/
*.pyc
.venv/

# Env
.env
.env.*

# Secrets
backend/credentials/
backend/*firebase-adminsdk*.json
*firebase-adminsdk*.json
*.json.key

# OS
.DS_Store
